body {
    margin: 0;
}
.topnav {
    background-color: teal;
    overflow: hidden;
}
.topnav a {
    float: left;
    color: black;
    text-decoration: none;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
}
.topnav a:hover {
    background-color: rgb(172, 172, 231);
}
.topnav a.active {
    background-color: rgb(172, 172, 231);
}